numpy
torch
tensorboardX
scikit_image
matplotlib
tqdm
easydict
Pillow
opencv_python
pycocotools

# New libraries based on code usage
torchvision  # required for transforms
pytorch-gradcam  # for EigenCAM and related utilities
